<div fxLayout="column">
    <form [formGroup]="searchForm" (ngSubmit)="search()">
        <div fxLayout="row">
            <div fxFlex="100" class="px-2">
                <label for="airline-name-search-criteria">Airline name: </label>
                <input
                    class="form-control"
                    formControlName="airlineName"
                    id="airline-name-search-criteria"
                />
            </div>
            <div fxFlex="30" class="px-2">
                <label for="stops-search-criteria">Number of stops: </label>
                <input
                    class="form-control"
                    id="stops-search-criteria"
                    formControlName="stops"
                    type="number"
                />
            </div>
            <div fxFlex="100" class="px-3 pt-3">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
    </form>
</div>
